@import 'config';
@import 'utilities';
@import 'btnConfig';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
  color:white;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  .box {
    @include set-bg($primary-color);
    nav {
      display: flex;
      gap: 3rem;
      margin-top: 1rem;
      //h1 {
        // Add your styles here
      //}

      ul {
        display: flex;
        color: white;
        width: 60%;
        list-style-type: none;
        justify-content: space-between;
        li {
          a {
            color:white;
            
          }
        }
      }
    }
  
  .hero-content {
    display: flex;
    align-items: center;
    div {
      width:50%;
     /* h1 {
       
      }

      p {
       
    
      } */ 

    }
      img {
        width: 50%;
      }
    }
  }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }

}
